@charset "utf-8";
/* CSS Document */
/* Color ECF4F3 76DBD1 57A99A 555151 */
body,td,th {
	font-family: "Noto Sans CJK", "微软雅黑", "MS PGothic", sans-serif;
	font-size: medium;
	color: #555151;
}
body {
	background-color: #ECF4F3;
	margin-left: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}
a:link {
	color: #57A99A;
}

a:visited {
	color: #57A99A;
}

a:hover {
	color: #37897A;
}
h1,h2,h3,h4,h5,h6 {
	text-shadow: 2px 2px 2px #76DBD1;
	border-bottom: 1px solid #555151;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
ul {
	margin: 0;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
	margin-left: 1em;
}
p {
	font-size: 1em;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

li {
	font-size: 1em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
}
b,strong {
	background-color: #DCE4E3;
}

pre {
	margin-left: 1em;
	font-size: 0.8em;
	color: #AAFFAA;
	background-color: #333;
	padding-left: 1em;
}

table {
	table-layout: fixed;
}

dt {
	margin: 0;
	font-weight: bold;
	background-color: #DCE4E3;
	border-bottom: 1px solid #22AAFF;
	border-left: 1px solid #22AAFF;
	margin-left: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
dd {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}