@charset "utf-8";
/* CSS Document */

body,td,th {
	font-family: "Noto Sans CJK", "微软雅黑", "MS PGothic", sans-serif;
	font-size: medium;
	color: white;
}
body {
	background-color: #232021;
	margin-left: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}
a:link {
	color: #FFFF88;
}
a:hover {
	color: white;
}
a:visited {
	color: #FFFF88;
}
h1,h2,h3,h4,h5,h6 {
	text-shadow: 2px 2px 2px #666666;
	border-bottom: 1px solid #48832C;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
ul {
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h1 {
	font-size : xx-large;
}
h2 {
	font-size: large;
}
h3 {
	font-size: medium;
}
h4 {
	font-size: small;
	margin-left: 1em;
}
p {
	font-size: small;
	margin-left: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
li {
	font-size: small;
	padding-top: 0.3em;
}
b,strong {
	background-color: #112288;
}

pre {
	margin-left: 1em;
	font-size: small;
	color: #AAFFAA;
}

table {
	table-layout: fixed;
}

dt {
	margin: 0;
	font-weight: bold;
	background-color: blue;
	border-bottom: 1px solid #22AAFF;
	border-left: 2px solid #22AAFF;
	margin-left: 0.5em;
}
dd {

}